!!!
%html{:html_attrs => html_attrs }
  %head
    %title dead black hearts
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/screen.css"}
    /[if lt IE 8]
      %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/ie.css" }
  %body.bp
    #container
      #content
        %p Download our albums. Tell your friends.
        %p 
          If you'd like to get more information, show dates, etc., do at least one of the following so we can keep you up to date:
        %ul
          %li fan us on <a href="http://www.facebook.com/deadblackhearts" target="_blank">facebook</a>
          %li friend us on <a href="http://www.myspace.com/deadblackhearts" target="_blank">myspace</a>
          %li follow us on <a href="http://www.twitter.com/deadblackhearts" target="_blank">twitter</a>
        - @albums.each do |album|
          .album{:id => album.id}
            %img.cover{:src => "/images/#{album.cover_image}", :alt => album.title }
            .download
              %a{:href => "#{album.id}.zip"} Download
        %p &nbsp;
        %p If you have a life threatening emergency you can dial 911 or <a href="mailto:band@deadblackhearts.com">email us directly</a>.
    %script{:type => "text/javascript", :src => "http://www.google-analytics.com/ga.js"}
    %script{:type => "text/javascript", :src => "jquery.js"}
    %script{:type => "text/javascript", :src => "main.js"}
