!!!
%html{:html_attrs => html_attrs }
  %head
    %title Dead Black Hearts
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/screen.css"}
    /[if lt IE 8]
      %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/ie.css" }
  %body.bp
    %h1 hi
