!!!
%html{:html_attrs => html_attrs }
  %head
    %title dead black hearts
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/screen.css"}
    /[if lt IE 8]
      %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/ie.css" }
  %body.bp
    #container
      #content
        %p
          Hi. We like to keep our music free for you to hear and download.  All we ask is that if you like what you hear let your friends know. So download, add us to your mp3 player of choice, and enjoy. If you'd like to get more information, show dates, etc, you can fan us on <a href="http://www.facebook.com/deadblackhearts" target="_blank">facebook</a> or friend us on <a href="http://www.myspace.com/deadblackhearts" target="_blank">myspace</a>. We'll keep you up to date with the goings-ons.  If you have a life threatening emergency you can dial 911 or <a href="mailto:band@deadblackhearts.com">email us directly</a>.
        - @albums.each do |album|
          .album{:id => album.id}
            %img.cover{:src => "/images/#{album.cover_image}", :alt => album.title }
            .download
              %a{:href => "#{album.id}.zip"} Download
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try{ 
    var pageTracker = _gat._getTracker("UA-6571948-1");
    pageTracker._trackPageview();
    } catch(err) {} 
    </script>
