// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/scaffolding.sass

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-scaffolding("body.bp")
body.bp
  +blueprint-typography(true)
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction
form.bp
  +blueprint-form

// Page layout can be done using mixins applied to your semantic classes and IDs:
!blueprint_grid_columns = 24
body
  background-color: #000
  #container
    +container
    background-color: #DDD
    padding: 20px
    .band-name
      font-variant: small-caps
      font-family: "Futura"
      color: red
  #content
    .album
      +column(!blueprint_grid_columns)
      padding-bottom: 10px
      !cover_width = !blueprint_grid_columns - 17
      !tracks_width = !blueprint_grid_columns - (!cover_width)
      .cover
        +column(!cover_width)
      .info
        +column(!tracks_width,true)
