body {
   background:#181818;
   color:#aeaeae;
   padding:10px;
   font-size:13px;
}

a {
   color: #FFF;
}

a:hover, a:active {
   text-decoration: underline;
}

.band-name {
   color: #482222;
   font-family: futura;
   font-size: 32px;
   font-variant: small-caps;
}

h3, h4 {
   color:#aeaeae;
   font-family: futura;
   font-variant: small-caps;
}

.colborder {
   border-color: #222;
}

hr {
   background-color: #222;
}

.cover {
   width:200px;
}

.album {
   text-align:center;
}

li {
   padding-top:40px;
}
