body {
   padding:10px;
   font-size:13px;
}

a {
   text-decoration: none;
}
a:hover, a:active {

   text-decoration: underline;
}

.band-name {
   color: red;
   font-family: futura, "futura lt", "Century Gothic";
   font-size: 36px;
   font-variant: small-caps;
}

h3 {
   font-family: futura, "futura lt", "Century Gothic";
   font-variant: small-caps;
   font-size: 22px;
}

.cover {
   width:100px;
}

.download {
   font-size:18px;
   font-variant: small-caps;
}

ol {
   padding-left:20px;
}

.shows li, .shows ul {
   list-style: none;
   padding:0px;
   margin:0px;
}

.show P {
   padding:0px;
   margin:0px;
}

.show div {

   padding-bottom:8px;
}
